<%- include('reusables/head.ejs') %>
        <link rel="stylesheet" href="/css/main.css">
    </head>

    <body>
        
        <main>
            <h1>Sorry there's nothing here!</h1>
        </main>
    </body>

</html>
