<%- include('reusables/head.ejs'); %>
<body>
    <%- include('reusables/navbar-bootstrap.ejs'); %>
        <main>
            <h1>Sorry there's nothing here!</h1>
        </main>
    </body>

</html>
