<!-- Head -->
<%- include('reusables/head.ejs');%>

<body>
	<%- include('reusables/navbar-bootstrap.ejs');%>
	<div class="container">
	  <h1>About Page</h1>
	  <p>We sell games for students</p>
	</div>
	<%- include('reusables/scripts-bootstrap.ejs');%>
</body>
</html>