<!-- Head -->
<%- include('reusables/head.ejs');%></head>

<body>
  <%- include('reusables/navbar-bootstrap.ejs', {sessionType: user});%>
  <!-- Page Content -->
  <div class="container mt-5">



    <ol class="breadcrumb aboutBread">
      <li class="breadcrumb-item">
        <a href="/">Home</a>
      </li>
      <li class="breadcrumb-item active">About</li>
    </ol>

    <!-- Intro Content -->
    <div class="row">
      <div class="col-lg-7 col-12">
        <img class="img-fluid" src="https://storage.googleapis.com/kleva_assets/about_hero.svg" alt="">
      </div>
      <div class="col-lg-5 col-12 align-self-center">
        <h2 class="aboutUsText">About Us</h2>
        <p class="aboutUsDescr">Kleva is Australia's leading educational games provider.</p>
        <p class="aboutUsDescr">Our platform integrates the Australian Curriculum, Assessment and Reporting Authority
          framework.
          Allowing Australian school teachers to seamlessly integrate games into their classroom plans.</p>
        <p class="aboutUsDescr">Games are classified according to the ACARA framework, making it the only resource
          you'll ever need to find
          appropriate, engaging and learning objective orientated games.
        </p>
      </div>
      <div class="col-12">
        <img class="img-fluid" src="https://storage.googleapis.com/kleva_assets/about_info.svg" alt="">
      </div>
    </div>
    <!-- /.row -->




  </div>
  <!-- /.container -->


</body>

<!-- Bootstrap core JavaScript -->
<script src="vendor/jquery/jquery.min.js"></script>
<script src="vendor/bootstrap/js/bootstrap.bundle.min.js"></script>

</html>