<!-- Head -->
<%- include('reusables/head.ejs');%></head>
<body>
    <%- include('reusables/navbar-bootstrap.ejs');%>
    
    <div class="wrapper" >
        <div class="container">

            <!--Featured Button-->
            <div class="col-xs-1 my-2">
                <button type="button" class="btn btn-outline-secondary btn-sm">Featured</button>
            </div>

            <!--Game Banner-->
            <div class="row justify-content-center rounded bg-game">
                <div class="col-lg-5">
                    <a href="/gamepage"><img src="img/bridgeConFeatureSplash.png" class="img-fluid mx-auto d-block" alt="Bridge Constructor Splash"></a>
                </div>
                <div class="col-lg-7">
                    <h3>Bridge Constructor</h3>        
                    <p>Build a bridge, get over it.  Highly Educational</p>
                    <div class="row">
                        <div class="col"><img src="img/bridgeConScreen1.png" class="img-fluid" alt="Bridge Constructor 1"></div>
                        <div class="col"><img src="img/bridgeConScreen2.png" class="img-fluid" alt="Bridge Constructor 2"></div>
                        <div class="col"><img src="img/bridgeConScreen3.png" class="img-fluid" alt="Bridge Constructor 3"></div>
                        <div class="col"><img src="img/bridgeConScreen4.png" class="img-fluid" alt="Bridge Constructor 4"></div>
                    </div>
                    <div class="d-flex justify-content-between">
                        <h4 class="h-100 align-self-end cost">A$ 14.99</h4>
                        <div class="windows-logo h-100 align-self-end"><img src="img/windowsPlatform.png" class="img-fluid" alt="Windows Platform"></div>
                    </div>
                </div>
            </div>
            
            <!--Game Slideshow Controls-->
            <div class="row justify-content-center">
                <button type="button" class="m-1 btn btn-dark btn-circle btn-sm"></button>
                <button type="button" class="m-1 btn btn-light btn-circle btn-sm"></button>
                <button type="button" class="m-1 btn btn-light btn-circle btn-sm"></button>
                <button type="button" class="m-1 btn btn-light btn-circle btn-sm"></button>
                <button type="button" class="m-1 btn btn-light btn-circle btn-sm"></button>
            </div>
            
            <!--Trending Button-->
            <div class="col-xs-1 my-2">
                <button type="button" class="btn btn-outline-secondary btn-sm">Trending</button>
            </div>
        </div>

  <!-- Page Content -->
  <div class="container">

    <div class="row">

      <div class="col-lg-3">

        <h1 class="my-4">Shop Name</h1>
        <div class="list-group">
          <a href="#" class="list-group-item">Category 1</a>
          <a href="#" class="list-group-item">Category 2</a>
          <a href="#" class="list-group-item">Category 3</a>
        </div>

      </div>
      <!-- /.col-lg-3 -->

      <div class="col-lg-9">

        <div class="embed-responsive embed-responsive-16by9">
          <iframe mozallowfullscreen="true" allow="autoplay; fullscreen *; geolocation; microphone; camera; midi" frameborder="0" 
          src="//v6p9d9t4.ssl.hwcdn.net/html/2719627/final_build/index.html" 
          msallowfullscreen="true" 
          scrolling="no" 
          allowfullscreen="true" 
          webkitallowfullscreen="true" 
          id="game_drop" 
          allowtransparency="true">
        </iframe>
        </div>
        <br/>
        <div class="row">
          <div class="col-12"></div>
        </div>
        <!-- /.row -->

      </div>
      <!-- /.col-lg-9 -->

    </div>
    <!-- /.row -->

  </div>
  <!-- /.container -->

  <!-- Footer -->
  <footer class="py-5 bg-dark">
    <div class="container">
      <p class="m-0 text-center text-white">Copyright &copy; Your Website 2020</p>
    </div>
    <!-- /.container -->
  </footer>
</body>
</html>