<!-- Head -->
<%- include('reusables/head.ejs');%>

</head>
<body>
    <%- include('reusables/navbar-bootstrap.ejs');%>
  <header>
    <div id="carouselExampleIndicators" class="carousel slide" data-ride="carousel">
      <ol class="carousel-indicators">
        <li data-target="#carouselExampleIndicators" data-slide-to="0" class="active"></li>
        <li data-target="#carouselExampleIndicators" data-slide-to="1"></li>
        <li data-target="#carouselExampleIndicators" data-slide-to="2"></li>
      </ol>
      <div class="carousel-inner" role="listbox">
        <!-- Slide One - Set the background image for this slide in the line below -->
        <div class="carousel-item active" style="background-image: url('img/homepage-background image3.png')">
          <div class="carousel-caption d-none d-md-block">
            <h3>A digital learning journey</h3>
            <p>provide students with educational games to gamify learning and to make education more engaging</p>
          </div>
        </div>
        <!-- Slide Two - Set the background image for this slide in the line below -->
        <div class="carousel-item" style="background-image: url('img/homepage-background image1.png')">
          <div class="carousel-caption d-none d-md-block">
            <h3>An effective way</h3>
            <p>increases engagement with the syllabus</p>
          </div>
        </div>
        <!-- Slide Three - Set the background image for this slide in the line below -->
        <div class="carousel-item" style="background-image: url('img/homepage-background image2.png')">
          <div class="carousel-caption d-none d-md-block">
            <h3>School works better</h3>
            <p>with Kleva students can have a friendly digital learning experience no matter where they are learning.</p>
          </div>
        </div>
      </div>
      <a class="carousel-control-prev" href="#carouselExampleIndicators" role="button" data-slide="prev">
        <span class="carousel-control-prev-icon" aria-hidden="true"></span>
        <span class="sr-only">Previous</span>
      </a>
      <a class="carousel-control-next" href="#carouselExampleIndicators" role="button" data-slide="next">
        <span class="carousel-control-next-icon" aria-hidden="true"></span>
        <span class="sr-only">Next</span>
      </a>
    </div>
  </header>

  <!-- Page Content -->
  <div class="container">

    <h1 class="my-4">Welcome to Kleva</h1>

    <!-- Marketing Icons Section -->
    <div class="row">
      <div class="col-lg-4 mb-4">
        <div class="card h-100 shadow">
          
          <div class="card-body p-0">
            <img class="w-100" src="img/teachers.png"/>
          </div>
          <div class="card-footer border-0 bg-transparent">
            <a href="/teacher-signin" class="btn btn-primary d-flex justify-content-center mb-2">Log In As Teacher</a>
          </div>
        </div>
      </div>
      <div class="col-lg-4 mb-4">
        <div class="card h-100 shadow">
          
          <div class="card-body align-items-start p-0">
            <img class="w-100 p-0" src="img/students.png"/>
          </div>
          <div class="card-footer border-0 bg-transparent">
            <a href="#" class="btn btn-primary d-flex justify-content-center mb-2">Log In As Student</a>
          </div>
        </div>
      </div>
      <div class="col-lg-4 mb-4 ">
        <div class="card h-100 shadow">
          
          <div class="card-body border-0 p-0">
            <img class="d-flex justify-content-center w-100" src="img/creator.png"/>
          </div>
          <div class="card-footer border-0 bg-transparent">
            <a href="#" class="btn btn-primary d-flex justify-content-center mb-2">Log In As Creator</a>
          </div>
        </div>
      </div>
    </div>
    <!-- /.row -->

    <!-- Portfolio Section -->

    <div class="py-5 text-center">
      <img class="d-block mx-auto mb-4" src="img/homepage-logo.png" alt="" width="1200" height="200">
      <p class="lead">an educational game distribution platform that hosts third party educational video games to deliver deeper learning engagement for students and the capability for teachers to track and manage progress.
      </p>
    </div>

    <hr class="featurette-divider">

    <div class="row featurette">
      <div class="col-md-7">
        <br><br><br><br><br>
        <h2 class="featurette-heading text-center">First featurette heading. <span class="text-muted">It’ll blow your mind.</span></h2>
        <p class="lead text-center">Donec ullamcorper nulla non metus auctor fringilla. Vestibulum id ligula porta felis euismod semper. Praesent commodo cursus magna, vel scelerisque nisl consectetur. Fusce dapibus, tellus ac cursus commodo.</p>
      </div>
      <div class="col-md-5">
        <img class="d-block mx-auto mb-4 shadow" src="img/portfolio1.png" alt="" width="400" height="400">
      </div>
    </div>

    <hr class="featurette-divider">

    <div class="row featurette">
      <div class="col-md-7 order-md-2">
        <br><br><br><br><br>
        <h2 class="featurette-heading text-center">Oh yeah, it’s that good. <span class="text-muted">See for yourself.</span></h2>
        <p class="lead text-center">Donec ullamcorper nulla non metus auctor fringilla. Vestibulum id ligula porta felis euismod semper. Praesent commodo cursus magna, vel scelerisque nisl consectetur. Fusce dapibus, tellus ac cursus commodo.</p>
      </div>
      <div class="col-md-5 order-md-1">
        <img class="d-block mx-auto mb-4 shadow" src="img/portfolio2.png" alt="" width="400" height="400">
      </div>
    </div>

    <hr class="featurette-divider">

    <div class="row featurette">
      <div class="col-md-7">
        <br><br><br><br><br>
        <h2 class="featurette-heading text-center">And lastly, this one. <span class="text-muted">Checkmate.</span></h2>
        <p class="lead text-center">Donec ullamcorper nulla non metus auctor fringilla. Vestibulum id ligula porta felis euismod semper. Praesent commodo cursus magna, vel scelerisque nisl consectetur. Fusce dapibus, tellus ac cursus commodo.</p>
      </div>
      <div class="col-md-5">
        <img class="d-block mx-auto mb-4" src="img/portfolio3.png" alt="" width="400" height="400">
      </div>
    </div>

    <hr class="featurette-divider">
    <h2>Modern Business Features</h2>
    <br><br>
    <!-- /.row -->

    <!-- Features Section -->
    <div class="row text-center">
      
      <div class="col-lg-4">
        <img class="d-block mx-auto mb-4" src="img/homepage feature2.png" alt="" width="200" height="200">
        <h2>Cheap to get</h2>
        <p>Donec sed odio dui. Etiam porta sem malesuada magna mollis euismod. Nullam id dolor id nibh ultricies vehicula ut id elit. Morbi leo risus, porta ac consectetur ac, vestibulum at eros. Praesent commodo cursus magna.</p>
      </div><!-- /.col-lg-4 -->
      <div class="col-lg-4">
        <img class="d-block mx-auto mb-4" src="img/homepage feature1.png" alt="" width="200" height="200">
        <h2>Easy to access</h2>
        <p>Duis mollis, est non commodo luctus, nisi erat porttitor ligula, eget lacinia odio sem nec elit. Cras mattis consectetur purus sit amet fermentum. Fusce dapibus, tellus ac cursus commodo, tortor mauris condimentum nibh.</p>       
      </div><!-- /.col-lg-4 -->
      <div class="col-lg-4">
        <img class="d-block mx-auto mb-4" src="img/homepage feature3.png" alt="" width="200" height="200">
        <h2>Safe to use</h2>
        <p>Donec sed odio dui. Cras justo odio, dapibus ac facilisis in, egestas eget quam. Vestibulum id ligula porta felis euismod semper. Fusce dapibus, tellus ac cursus commodo, tortor mauris condimentum nibh, ut fermentum massa justo sit amet risus.</p>
      </div><!-- /.col-lg-4 -->
    </div><!-- /.row -->
    <!-- /.row -->

    <hr>

    <!-- Call to Action Section -->
    <div class="row mb-4 justify-content-center">
        <a href="#">
          <img class="d-block mx-auto mb-4" src="img/Get start _.png" alt="" width="1100" height="300">
        </a>
    </div>
  <!-- /.container -->

  <!-- Footer -->
  <footer class="py-5 bg-dark">
    <div class="container">
      <p class="m-0 text-center text-white">Copyright &copy; Your Website 2020</p>
    </div>
    <!-- /.container -->
  </footer>

  <!-- Bootstrap core JavaScript -->

    <!-- Optional JavaScript -->
    <%- include('reusables/scripts-bootstrap.ejs');%>
</body>
</html>
