<%- include('reusables/head.ejs') %>
        <link rel="stylesheet" href="/css/main.css">
        <title><%= pageTitle %></title>
    </head>

    <body>
        <%- include('reusables/navigation.ejs') %>
        <main>
            
        </main>
    </body>

</html>
