<!-- Head -->
<%- include('reusables/head.ejs');%>

</head>

<body>
  <%- include('reusables/navbar-bootstrap.ejs', {sessionType: user});%>
  <header>

    <div id="carouselExampleIndicators" class="carousel slide img-fluid" data-ride="carousel">
      <div class="carousel-inner" role="listbox">
        <!-- Slide One - Set the background image for this slide in the line below -->
        <div class="carousel-item active">
          <div class="carousel-caption d-none d-md-block">
          </div>
        </div>
        <div class="carousel-item carousel-item1">
          <div class="carousel-caption d-none d-md-block">
          </div>
        </div>
      </div>
    </div>
  </header>



  <!-- Page Content -->
  <div class="container-xl">
    <!-- Marketing Icons Section -->
    <div class="row justify-content-center login-selection">
      <div class="col-6 col-lg-3 mb-4">
        <div class="shadow-lg card h-100">

          <div class="card-body p-0">
            <img class="w-100" loading="eager" src="https://storage.googleapis.com/kleva_assets/teachers-min.png" />
          </div>
          <div class="card-footer border-0 bg-transparent">
            <a href="/teacher-signin" class="btn  d-flex justify-content-center mb-2"
              style="letter-spacing: .05rem;">Log
              In As Teacher</a>
          </div>
        </div>
      </div>
      <div class="col-6 col-lg-3 mb-4">
        <div class=" shadow-lg card h-100">

          <div class="card-body align-items-start p-0">
            <img class="w-100 p-0" loading="eager" src="https://storage.googleapis.com/kleva_assets/students-min.png" />
          </div>
          <div class="card-footer border-0 bg-transparent">
            <a href="/student-signin" class="btn  d-flex justify-content-center mb-2"
              style="letter-spacing: .05rem;">Log
              In As Student</a>
          </div>
        </div>
      </div>
      <div class="col-6 col-lg-3 mb-4 ">
        <div class=" shadow-lg card h-100">

          <div class="card-body border-0 p-0">
            <img class="d-flex justify-content-center w-100 "
              src="https://storage.googleapis.com/kleva_assets/creator-min.png" loading=" eager" />
          </div>
          <div class="card-footer border-0 bg-transparent">
            <a href="/creator-signin" class="btn d-flex justify-content-center mb-2" style="letter-spacing: .05rem;">Log
              In As Creator</a>
          </div>
        </div>
      </div>
      <div class="col-6 col-lg-3 mb-4 ">
        <div class=" shadow-lg card h-100">
          <div class="card-body border-0 p-0">
            <img class="d-flex justify-content-center w-100 "
              src="https://storage.googleapis.com/kleva_assets/doodleHome-min.png" loading=" eager" />
          </div>
          <div class="card-footer border-0 bg-transparent">
            <a href="/quick-join" class="btn d-flex justify-content-center mb-2" style="letter-spacing: .05rem;">Join
              Game</a>
          </div>
        </div>
      </div>
      <!-- /.row -->


      <!-- Portfolio Section -->


      <div class="py-5 text-center mt-5 container-sm">



        <img class="d-block mx-auto img-fluid" src="img/homepage-logo.png" alt="" width="700" height="200">
        <h2>Kleva</h2>
        <p class="lead px-5">is an educational game distribution platform that hosts third
          party
          educational
          video games to
          deliver deeper learning engagement for students and the capability for teachers to track and manage progress.
        </p>
      </div>

      <hr class="featurette-divider">

      <div class="container-md">
        <div class="row featurette">
          <div class="col-md-5 align-self-end pl-lg-5 pb-lg-5">
            <h2 class="featurette-heading">Educational Games made for the <span class="text-muted">Australian Schooling
                System.</span>
            </h2>
            <p class="lead">Kleva is entirely free and helps teachers integrate educational games into their classroom
              plans.
              Our system integrates the ACARA framework, making it the one stop shop for all your ICT resources.</p>
          </div>
          <div class="col-md-7 ">
            <img class="d-block mx-auto mb-4 img-fluid" src="img/portfolio1.png" loading="lazy" alt="" width="500"
              height="500">
          </div>
        </div>



        <div class="row featurette">
          <div class="col-md-5 order-md-2 align-self-end pr-5 pb-lg-5">
            <h2 class="featurette-heading">Live Feedback <span class="text-muted">with Kleva Doodles</span></h2>
            <p class="lead">Made for teaching feedback, Kleva Doodles lets you create quick 5 minute doodling games.
              Students join with a simple Single Sign On Code. Teachers get immediate teaching feedback through student
              doodles!
            </p>
          </div>
          <div class="col-md-7 order-md-1">
            <img class="d-block mx-auto mb-4 img-fluid" src="img/portfolio2.png" loading="lazy" alt="" width="500"
              height="500">
          </div>
        </div>



        <div class="row featurette">
          <div class="col-md-5 align-self-end pl-5 pb-lg-5">
            <h2 class="featurette-heading">A Digital Games Platform. <span class="text-muted">Students will love.</span>
            </h2>
            <p class="lead">Engage your students in relevant and specific learning objectives, while allowing them the
              freedom to
              learn and fail in a low risk environment.</p>
          </div>
          <div class="col-md-7">
            <img class="d-block mx-auto mb-4 img-fluid" src="img/portfolio3.png" loading="lazy" alt="" width="500"
              height="500">
          </div>
        </div>
      </div>
    </div>
  </div>




  <!-- Optional JavaScript -->
  <%- include('reusables/scripts-bootstrap.ejs');%>
</body>
<!-- Footer -->
<footer class="py-5 bg-custom mt-5 footer">
  <div class="container">
    <p class="text-center m-0">
      Copyright &copy; Kleva 2020
    </p>
    <!-- /.container -->
  </div>
</footer>


</html>