<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8" />
  <meta name="viewport" content="width=device-width, initial-scale=1.0" />
  <!-- Font -->
  <link href="https://fonts.googleapis.com/css2?family=Quicksand:wght@300;400;500;600;700&display=swap"
    rel="stylesheet" />
  <link rel="stylesheet" href="../css/creator-dashboard.css" />
  <link rel="stylesheet" href="../css/bootstrap.min.css" />
  <script src="https://code.jquery.com/jquery-3.5.1.slim.min.js"
    integrity="sha384-DfXdz2htPH0lsSSs5nCTpuj/zy4C+OGpamoFVy38MVBnE+IbbVYUew+OrCXaRkfj"
    crossorigin="anonymous"></script>
  <script src="https://cdn.jsdelivr.net/npm/popper.js@1.16.1/dist/umd/popper.min.js"
    integrity="sha384-9/reFTGAW83EW2RDu2S0VKaIzap3H66lZH81PoYlFhbGU+6BZp6G7niu735Sk7lN"
    crossorigin="anonymous"></script>
  <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/js/bootstrap.min.js"
    integrity="sha384-B4gt1jrGC7Jh4AgTPSdUtOBvfO8shuf57BaghqFfPlYxofvL8/KUEfYiJOMMV+rV"
    crossorigin="anonymous"></script>
  <title>Kleva</title>
</head>

<body>
  <!-- Dashboard Container -->
  <div class="" style="overflow-x: hidden">
    <!-- Navigation Bar -->
    <header class="header">
      <!-- Logo -->
      <img src="../img/logo.png" alt="Kleva" class="logo" />
      <!-- Search Bar -->
      <form action="/" class="search" method="POST">
        <input type="text" class="search__input" placeholder="Search Games" />
        <button class="search__button">
          <svg class="search__icon">
            <use xlink:href="../img/symbol-defs.svg#icon-search"></use>
          </svg>
        </button>
      </form>

      <!-- Mobile Menu  -->
      <div class="mobile-navigation">
        <input type="checkbox" class="mobile-navigation__checkbox" id="menu_burger" />

        <label for="menu_burger" class="mobile-navigation__button">
          <svg class="mobile-navigation__button-icon">
            <use xlink:href="../img/symbol-defs.svg#icon-menu"></use>
          </svg>
        </label>

        <div class="mobile-navigation__background"></div>

        <nav class="mobile-navigation__nav">
          <ul class="mobile-navigation__list">
            <li class="mobile-navigation__item">
              <a href="" class="mobile-navigation__link">Home</a>
            </li>
            <li class="mobile-navigation__item">
              <a href="" class="mobile-navigation__link">Log Out</a>
            </li>
            <li class="mobile-navigation__item">
              <a href="" class="mobile-navigation__link">Games</a>
            </li>
            <li class="mobile-navigation__item">
              <a href="" class="mobile-navigation__link">Help</a>
            </li>
          </ul>
        </nav>
      </div>

      <!-- Desktop and Tablet Menu -->
      <nav class="user-nav">
        <div class="user-nav__icon-box">
          <a href="/">
            <svg class="user-nav__icon">
              <use xlink:href="../img/symbol-defs.svg#icon-home"></use>
            </svg>
          </a>
        </div>
        <div class="user-nav__icon-box">
          <form action="/sign-out" method="POST">
            <button type="submit" style="border: none; background-color: inherit; ">
              <svg class="user-nav__icon">
                <use xlink:href="../img/symbol-defs.svg#icon-exit"></use>
              </svg>
            </button>
          </form>
        </div>
        <div class="user-nav__user">
          <img src="../img/profile.png" alt="User Photo" class="user-nav__user-photo" />
          <span class="user-name"><%= name %></span>
        </div>
      </nav>
    </header>

    <div class="content mr-5">
      <!-- Dashboard Side Bar -->
      <nav class="side-bar">
        <!-- Dashboard Pages -->
        <ul class="side-nav">
          <!-- Active Styling with Plain JS Logic -->
          <li class="side-nav__item--active">
            <a href="/teacher/game-room" class="side-nav__link">
              <!-- Sidebar Icon -->
              <svg class="side-nav__icon">
                <use xlink:href="../img/symbol-defs.svg#icon-box-remove"></use>
              </svg>
              <span class="sideBarCustom">Gameroom</span>
            </a>
          </li>
          <li class="<%= path === '/your-apps' ? 'side-nav__item--active' : 'side-nav__item' %>">
            <a href="#" class="side-nav__link">
              <svg class="side-nav__icon">
                <use xlink:href="../img/symbol-defs.svg#icon-user-check"></use>
              </svg>
              <span class="sideBarCustom">Teacher</span>
            </a>
          </li>

          <div id="studentOutput"></div>
        </ul>
        <!-- Legal Text -->
        <div class="legal">&copy; 2020 by Kleva Pty. Ltd.</div>
      </nav>

      <!-- Main Content Area -->

      <div class="container-fluid pr-0 pl-0 py-5">
        <div class="px-5 py-5">
          <div class="ml-5 mr-5 container-md mx-auto ">
            <div class="create_your_classroom">
              <div class="container-fluid">
                <div class="row mt-5 justify-content-center">
                  <div class="col-10 mt-5 text-center">
                    <h1>Share this code with your students:</h1>
                    <h1 class="badge badge-warning mt-3" style="font-size: 7rem">
                      <%= classCode %>
                    </h1>
                  </div>
                </div>
                <div class="row justify-content-between">
                  <!-- Begin Game Button -->
                  <div class="col-3 text-center">
                    <button id="send-question" class="btn-lg btn-success my-5" onclick="beginGame()">
                      Begin Game
                    </button>
                  </div>
                  <!-- End Game Button -->
                  <div class="col-3 text-center">
                    <button id="send-question" class="btn-lg btn-danger my-5 text-center">
                      End Game
                    </button>
                  </div>
                </div>
              </div>

              <div class="row">
                <!-- Sketch Canvas Area -->
                <div class="col-12" id="canvas-holder"></div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</body>
<script src="https://www.gstatic.com/firebasejs/7.24.0/firebase-app.js"></script>
<script src="https://www.gstatic.com/firebasejs/7.24.0/firebase-database.js"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/moment.js/2.29.1/moment-with-locales.min.js"
  integrity="sha512-LGXaggshOkD/at6PFNcp2V2unf9LzFq6LE+sChH7ceMTDP0g2kn6Vxwgg7wkPP7AAtX+lmPqPdxB47A0Nz0cMQ=="
  crossorigin="anonymous"></script>
<script src="/socket.io/socket.io.js"></script>
<script src="/js/draw.js"></script>
<script src="/js/p5.js"></script>
<script src="/js/teacherView.js"></script>

</html>