@import url('https://fonts.googleapis.com/css2?family=Quicksand:wght@300;400;500;600;700&display=swap');

:root {
  --color-primary-blue: #d9e5ffff;
  --color-secondary-blue: #c5e0ffff;
  --color-primary-pink: #fcddffff;
  --color-secondary-pink: #ffdef6ff;
  --color-primary-orange: #ffe4ecff;
  --color-primary-yellow: #ffeee5ff;

  --shadow-box: 0 2rem 6rem rgba(0, 0, 0, 0.3);
}

* {
  margin: 0;
  padding: 0;
}

*,
*::before,
*::after {
  box-sizing: inherit;
}

html {
  box-sizing: border-box;
  font-size: 62.5%;
}

body {
  font-family: 'Quicksand', sans-serif;
  font-weight: 400;
  line-height: 1.6;
  background-image: linear-gradient(
    to left top,
    var(--color-secondary-blue),
    var(--color-primary-pink)
  );
  background-size: cover;
  background-repeat: no-repeat;
  min-height: 100vh;
}

.container {
  margin: 0 auto;
  background-color: #dbdbdb;
  box-shadow: var(--shadow-box);
  min-height: 50rem;
}

@media only screen and (max-width: 75em) {
  .container {
    margin: 0;
    max-width: 100%;
    width: 100%;
  }
}

@media only screen and (max-width: 69em) {
  html {
    font-size: 50%;
  }
}

@media only screen and (max-width: 56em) {
  .content {
    flex-direction: column;
  }

  .side-bar {
    margin-bottom: 0;
  }

  .side-nav {
    display: flex;
    margin-bottom: 0;
    flex-direction: row;
    padding: 0;
  }

  .side-nav__item,
  .side-nav__item--active {
    font-size: 1.4rem;
    backface-visibility: hidden;
    position: relative;
    margin-bottom: 0rem;
    flex: 1;
  }

  .legal {
    display: none;
  }

  .side-nav__link:link,
  .side-nav__link:visited {
    justify-content: center;
  }
}

@media only screen and (max-width: 40em) {
  .side-nav__link:link,
  .side-nav__link:visited {
    flex-direction: column;
    margin: 0;
  }

  .side-nav__icon {
    height: 2.25rem;
    width: 2.25rem;
    fill: #4a4a4a;
    margin: 0;
  }
}

@media only screen and (max-width: 37.5em) {
  .user-nav__user-photo {
    display: none;
  }

  .user-nav {
    height: 0;
    width: 0;
    padding: 0;
    margin: 0;
  }

  .user-nav__icon {
    display: none;
  }

  .user-nav__user {
    height: 0;
    width: 0;
    padding: 0;
  }

  .user-name {
    display: none;
  }

  /*Gamepage Education Cirriculum selection modal*/
  .modal-dialog-full-width {
    width: 100% !important;
    height: 100% !important;
    margin: 0 !important;
    padding: 0 !important;
    max-width: none !important;
  }

  .modal-content-full-width {
    height: auto !important;
    min-height: 100% !important;
    border-radius: 0 !important;
    background-color: #ececec !important;
  }

  .modal-header-full-width {
    border-bottom: 1px solid #9ea2a2 !important;
  }

  .modal-footer-full-width {
    border-top: 1px solid #9ea2a2 !important;
  }

  /*-------------*/

  .mobile-navigation {
    display: none;
  }
}

.mobile-navigation {
  display: none;
}

.header {
  font-size: 1.4rem;
  height: 7rem;
  background-color: #fafafa;
  border-bottom: var(--color-primary-pink);
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.content {
  display: flex;
  min-height: 96vh;
}

.side-bar {
  background-color: var(--color-primary-orange);
  flex: 0 0 18%;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

.side-nav {
  list-style: none;
  margin: 2rem 0;
}

.side-nav__item,
.side-nav__item--active {
  font-size: 1.4rem;
  backface-visibility: hidden;
  position: relative;
  margin-bottom: 1.5rem;
}

.side-nav__item:before,
.side-nav__item--active:before {
  content: '';
  position: absolute;
  top: 0;
  left: 0;
  height: 100%;
  width: 3px;
  background-color: var(--color-primary-blue);
  transform: scaleY(0);
  transform-origin: center;
  transition: transform 0.2s, width cubic-bezier(1, 0.01, 0.59, 0.77) 0.2s;
}

.side-nav__item:hover {
  color: var(--color-primary-blue);
}

.side-nav__item:hover::before,
.side-nav__item--active::before {
  transform: scaleY(1);
  width: 100%;
}

.side-nav__link:link,
.side-nav__link:visited {
  color: #757575;
  text-decoration: none;
  text-transform: uppercase;
  display: block;
  padding: 1.2rem 3rem;
  position: relative;
  display: flex;
  align-items: center;
  z-index: 5;
}

/* @keyframes moveInRight {
    0% {
        opacity: 0;
        transform: translateX(-2rem);
    }

    100% {
        opacity: 1;
        transform: translate(0);
    }
} */

.side-nav__link {
  cursor: pointer;
}

.side-nav__icon {
  height: 2.25rem;
  width: 2.25rem;
  fill: #4a4a4a;
  margin-right: 1.1rem;
}

.bg-game {
  background-color: #fff;
}

.no-margin {
  margin: 0;
}

.upload {
  background-color: #e0d9ff;
  flex: 1;
  font-size: 2rem;
}

.upload-form {
  background-color: var(--color-primary-yellow);
  box-shadow: 0 2rem 5rem rgba(0, 0, 0, 0.1);
  flex: 0 0 100%;
  margin: 5rem 3.8rem;
  height: 80rem;
}

.upload-form__text {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  margin-left: 2rem;
}

.upload-form__title {
  margin-top: 2rem;
  font-weight: 700;
}

.upload-form__title-field {
  margin-top: 0.4rem;
  border: none;
  background-color: #ececec;
  padding: 1rem 1.5rem;
  font-size: 1.5rem;
  font-family: inherit;
  width: 70%;
}

.upload-form__title-description {
  margin-top: 0.4rem;
  border: none;
  background-color: #ececec;
  padding: 1rem 1.5rem;
  font-size: 1.5rem;
  font-family: inherit;
  height: 15rem;
  width: 75%;
}

.upload-form__file {
  margin-top: 2rem;
  display: flex;
  flex-direction: column;
  margin-bottom: 0.5rem;
}

.upload-form__button {
  margin: 3rem 0;
  align-self: center;
  font-size: 2rem;
  font-family: inherit;
  font-weight: 800;
  background-color: #b2ffcc;
  border: none;
  padding: 1rem 1.5rem;
}

.upload-form__button:hover {
  cursor: pointer;
  background-color: #92ffb7;
}

.upload-form__checklist {
  font-size: 2rem;
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: space-between;
  align-items: center;
}

.upload-form__checklist-title {
  width: 100%;
  font-weight: 700;
}

.upload-form__checklist-topics {
  width: 40%;
  margin-left: 2rem;
}

.logo {
  height: 3.25rem;
  margin-left: 1.9rem;
}

.search {
  flex: 0 0 40%;
  display: flex;
  align-items: center;
  justify-content: center;
}

.search__input {
  font-family: inherit;
  font-size: inherit;
  color: inherit;
  background-color: var(--color-secondary-pink);
  border: none;
  padding: 0.7rem 2rem;
  border-radius: 10rem;
  width: 90%;
  transition: all 0.2s;
  margin-right: -3.5rem;
}

.search__input:focus {
  outline: none;
  width: 100%;
  background-color: var(--color-primary-pink);
}

.search__button {
  border: none;
  background-color: var(--color-secondary-pink);
}

.search__input::-webkit-input-placeholder {
  font-weight: 100;
  color: #757575;
}

.search__button:focus {
  outline: none;
}

.search__button:active {
  transform: translateY(2px);
}

.search__icon {
  height: 1.7rem;
  width: 1.7rem;
}

.user-nav {
  display: flex;
  align-items: center;
  align-self: stretch;
}

.user-nav__icon-box {
  padding: 0 2rem;
  cursor: pointer;
  height: 100%;
  display: flex;
  align-items: center;
}

.user-nav__icon-box:hover {
  background-color: #e8e8e8;
}

.user-nav__icon {
  height: 2.25rem;
  width: 2.25rem;
  fill: #4a4a4a;
}

.user-nav__user {
  padding: 0 2rem;
  cursor: pointer;
  height: 100%;
  display: flex;
  align-items: center;
}

.user-nav__user:hover {
  background-color: #e8e8e8;
}

.user-nav__user-photo {
  height: 3.75rem;
  border-radius: 45%;
  margin-right: 0.6rem;
}

.legal {
  font-size: 1rem;
  text-align: center;
  padding-bottom: 5rem;
}

.classroom-title {
  font-style: Quicksand;
  font-size: 5rem;
  font-weight: 500;
  padding-left: 3rem;
  padding-top: 3rem;
}

@media only screen and (max-width: 37.4em) {
  .search {
    display: none;
  }
  .mobile-navigation {
    display: flex;
  }

  .mobile-navigation__checkbox {
    display: none;
  }

  .mobile-navigation__checkbox:checked ~ .mobile-navigation__background {
    transform: scale(100);
    opacity: 1;
  }

  .mobile-navigation__checkbox:checked ~ .mobile-navigation__nav {
    opacity: 1;
    width: 100%;
  }

  .mobile-navigation__button-icon {
    background-color: #fafafa;
    height: 5rem;
    width: 5rem;
    position: fixed;
    top: 1rem;
    right: 4rem;
    border-radius: 50%;
    z-index: 2000;
    padding: 1rem;
    box-shadow: 0 1rem 2rem rgba(0, 0, 0, 0.1);
  }

  .mobile-navigation__button-icon {
    border-radius: 25%;
  }

  .mobile-navigation__background {
    height: 5rem;
    width: 5rem;
    top: 1rem;
    right: 4rem;

    border-radius: 50%;
    position: fixed;
    z-index: 1000;
    background-image: radial-gradient(#fcddffff, #ffeee5ff);

    transition: transform 0.4s cubic-bezier(0.8, 0, 0.07, 1);
  }

  .mobile-navigation__nav {
    height: 100vh;
    width: 0;
    top: 0;
    left: 0;

    opacity: 0;
    z-index: 1001;
    position: fixed;

    transition: all 0.4s cubic-bezier(0.68, -0.55, 0.265, 1.55);
  }

  .mobile-navigation__list {
    position: absolute;
    top: 50%;
    left: 50%;

    transform: translate(-50%, -50%);
    list-style: none;
  }

  .mobile-navigation__item {
    margin: 1.5rem;
  }

  .mobile-navigation__link {
    font-size: 4.5rem;
    text-decoration: none;
    color: #5259f7;
  }
}
