@import url('https://fonts.googleapis.com/css2?family=Fredoka+One&display=swap');

.footer {
  margin: 0 !important;
}

.logo {
  height: 3.25rem;
  margin-left: 1.9rem;
}

/*Carousel + search box*/
.search-sec {
  padding: 2rem;
}

/*Home page carousel*/
.carousel-item {
  height: 65vh;
  min-height: 300px;
  background: no-repeat center center scroll;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
}

.portfolio-item {
  margin-bottom: 30px;
}

.search-slt {
  display: block;
  width: 100%;
  font-size: 0.875rem;
  line-height: 1.5;
  color: #55595c;
  background-color: #fff;
  background-image: none;
  border: 1px solid #ccc;
  height: calc(3rem + 2px) !important;
  border-radius: 0;
}
.wrn-btn {
  width: 100%;
  font-size: 16px;
  font-weight: 400;
  text-transform: capitalize;
  height: calc(3rem + 2px) !important;
  border-radius: 0;
}

/* teacher dashboard*/

.user-nav__icon-box{
  border: none; 
  background-color: transparent;
}
.display-3{
  font-weight: 600;
}
.card col-8 col-md-3 m-3 shadow-sm{
  min-height: 35rem;
}
.btn mb-4 w-100{
  background-color: #e0d9ff;
  font-size: 1.7rem;
  font-weight: 500;
}
.btn mb-4 w-100{
  background-color: #e0d9ff;
  font-size: 1.7rem;
  font-weight: 500;
}
.btn mb-4 w-100{
  background-color: #d9fff3;
  font-size: 1.7rem;
  font-weight: 500;
}

/* user profile */
#picture {
}
.profile-container {
  background-color: wheat;
  display: list-item;
  text-align: center;
  flex-wrap: wrap;
}
.details {
  display: -moz-inline-grid;
  text-align: center;
  flex-wrap: wrap;
  justify-content: center;
}
.user-detail {
  display: flex;
  text-align: left;
  padding: 2em;
  justify-content: center;
}
.user-detail #content {
  background-color: plum;
  opacity: 0.5;
  display: inline;
  text-align: left;
  justify-content: space-around;
}

@media (min-width: 992px) {
  .search-sec {
    position: relative;
    top: -114px;
    background: rgba(26, 70, 104, 0.51);
  }
}

@media (max-width: 992px) {
  .search-sec {
    background: #1a4668;
  }
}

/*End carousel css*/

.klevabtn {
  background-color: #c9d5ff !important;
  border: none;
  font-weight: 600;
}

.klevabtn:hover {
  background-color: bisque !important;
}

.category {
  border: none;
  border-radius: 2.5rem;
  box-shadow: 0 0.3rem 0.3rem rgba(0, 0, 0, 0.3);
}

.category:hover {
  background-color: rgb(255, 255, 255) !important;
}
