@import url('https://fonts.googleapis.com/css2?family=Fredoka+One&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Quicksand:wght@300;400;500;600;700&display=swap');
.footer {
  margin: 0 !important;
}

.logo {
  height: 3.25rem;
  margin-left: 1.9rem;
}

/*Carousel + search box*/
.search-sec {
  padding: 2rem;
}

/*Home page carousel*/
.carousel-item {
  height: 65vh;
  min-height: 300px;
  background: no-repeat center center scroll;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
}

.portfolio-item {
  margin-bottom: 30px;
}

.search-slt {
  display: block;
  width: 100%;
  font-size: 0.875rem;
  line-height: 1.5;
  color: #55595c;
  background-color: #fff;
  background-image: none;
  border: 1px solid #ccc;
  height: calc(3rem + 2px) !important;
  border-radius: 0;
}
.wrn-btn {
  width: 100%;
  font-size: 16px;
  font-weight: 400;
  text-transform: capitalize;
  height: calc(3rem + 2px) !important;
  border-radius: 0;
}

/* user profile */
#picture {
}
.profile-container {
  background-color: wheat;
  display: list-item;
  text-align: center;
  flex-wrap: wrap;
}
.details {
  display: -moz-inline-grid;
  text-align: center;
  flex-wrap: wrap;
  justify-content: center;
}
.user-detail {
  display: flex;
  text-align: left;
  padding: 2em;
  justify-content: center;
}
.user-detail #content {
  background-color: plum;
  opacity: 0.5;
  display: inline;
  text-align: left;
  justify-content: space-around;
}

@media (min-width: 992px) {
  .search-sec {
    position: relative;
    top: -114px;
    background: rgba(26, 70, 104, 0.51);
  }
}

@media (max-width: 992px) {
  .search-sec {
    background: #1a4668;
  }
}

/*End carousel css*/

.klevabtn {
  background-color: #c9d5ff !important;
  border: none;
  font-weight: 600;
}

.klevabtn:hover {
  background-color: bisque !important;
}

.category {
  border: none;
  border-radius: 2.5rem;
  box-shadow: 0 0.3rem 0.3rem rgba(0, 0, 0, 0.3);
}

.category:hover {
  background-color: rgb(255, 255, 255) !important;
}

nav {
  background-color: #fff3fc;
  font-weight: 600;
  z-index: 10000;
}

.button {
  outline: none;
  border: none;
  background-color: transparent;
  font-weight: 600;
  color: inherit;
}

.dropdown-menu {
  background-color: #c9d5ff;
  border: none;
  font-weight: 600;
}

.carousel-item {
  background-image: url('https://storage.googleapis.com/kleva_assets/home-banner-min.png');
  background-color: #252525;
}

.carousel-item1 {
  background-image: url('https://storage.googleapis.com/kleva_assets/home-banner2-min.png');
  background-color: #252525;
}

.btn {
  background-color: #d659d6;
  color: white;
}

.card {
  background-color: #e9bede;
}

.card1 {
  background-color: #554163;
}

.card2 {
  background-color: #647887;
}

.card3 {
  background-color: #85f7ff;
}

.card4 {
  background-color: #b8ffc9;
}

.card5 {
  background-color: #ff8c8c;
}

.card6 {
  background-color: #ffe0a1;
}

.navbar {
  background-color: #fff3fc;
  font-weight: 600;
}

.img-fluid1 {
  width: 128px;
  height: 128px;
}
.card-footer {
  border: none;
  background-color: transparent;
  font-size: 1.8rem;
  font-family: 'Fredoka One', cursive;
}

.card-footer1 {
  color: #7962b5;
}

.card-footer2 {
  color: #333333;
}

.card-footer3 {
  color: #008da3;
}

.card-footer4 {
  color: #4ed97c;
}

.card-footer5 {
  color: #c95044;
}

.card-footer6 {
  color: #bd8a00;
}

.footer {
  background-color: #fcb0ff21;
}

.card-img-top1 {
  width: 100%;
  height: 300px;
  object-fit: cover;
}

.game-title {
  color: #5f5360;
}

.description {
  height: 5rem;
  overflow: hidden;
}

.description-gamepage {
  height: 3rem;
  overflow: hidden;
}

.game-description {
  color: #7e6e80;
}

.game-category {
  background-color: #fcddffff;
}

.game-category-gamepage {
  font-size: large;
}

.login-selection {
  z-index: 10000;
  margin-top: 5rem;
}

.gamepage-back {
  background-color: #fff3fc;
}

.gameLoader {
  z-index: 25000;
  font-family: 'Quicksand', serif;
  font-weight: 500;
  letter-spacing: 0.02rem;
  border-radius: 2rem;
  box-shadow: 0 0.3rem 0.3rem rgba(0, 0, 0, 0.3) !important;
}

.gameLoader:hover {
  background-color: #f28fff;
}

.gameGalleryCards {
  outline: none !important;
  border-radius: 1.5rem !important;
  box-shadow: 0 0.3rem 0.3rem rgba(0, 0, 0, 0.3) !important;
}

.gameGallerySplash {
  outline: none !important;
  border-radius: 0.5rem !important;
  box-shadow: 0 0.3rem 0.3rem rgba(0, 0, 0, 0.3) !important;
}

.gamePageTitle {
  font-family: 'Fredoka One', serif;
  font-size: 4.5rem;
  margin-top: 2rem;
  color: #5f5360;
}

.gamePageDescription {
  color: #7e6e80;
  font-family: 'Quicksand', serif;
  font-size: 1.2rem;
}

.gamePageCurriculum {
  background-color: #fcddffff;
  font-family: 'Quicksand', serif;
  font-size: 0.9rem;
}

.gamePageReturn {
  background-color: #5f5360;
  font-family: 'Quicksand', serif;
  font-size: 0.7rem;
  padding: 0.6rem 1rem;
}

.gameFeatureTitle {
  font-family: 'Quicksand', serif;
  font-weight: 800;
  font-size: 2rem;
  color: #5f5360;
}

.categoryBadge {
  font-family: 'Quicksand', serif;
  font-weight: 800;
  font-size: 1rem;
}

.subcategoryBadge {
  font-family: 'Quicksand', serif;
  font-weight: 800;
  font-size: 0.85rem;
  background-color: #fad0ff;
  padding: 0.35rem 1rem;
  color: #5f5360;
}

.subcategoryCode {
  font-family: 'Quicksand', serif;
  font-weight: 800;
  font-size: 0.7rem;
  background-color: #d0fdff;
  padding: 0.35rem 1rem;
  color: #5f5360;
}
