@import url('https://fonts.googleapis.com/css2?family=Russo+One&display=swap');

* {
    box-sizing: border-box;
}

body {
    padding: 0;
    margin: 0;
}  

main {
    padding: 1rem;
    margin: auto;
}

form {
    display: inline;
}

.carousel-item {
  height: 65vh;
  min-height: 300px;
  background: no-repeat center center scroll;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
}

.main-header {
    align-items: center;
    background-color: #00ffb7;
    display: flex;
    width: 100%;
    height: 3rem;
    padding: 0 1.5rem;
}

.main-header-nav-list {
    list-style: none;
    margin: 0;
    padding: 0;
    display: flex;
    font-family: 'Russo One'
}

.main-header-nav-list-item {
    margin: 0 1rem;
    padding: 0;
}

.main-header-nav-list-item a {
    text-decoration: none;
    color: black;
  }
