

.button {
    margin: 25px;
}

.wrapper{
    width: 95%;
    margin: 0 auto;
}

.bg-game {
    background-color: rgb(229, 229, 229);
    border: 1px solid black;
}

.btn-circle.btn-sm { 
    width: 30px; 
    height: 30px; 
    padding: 6px 0px; 
    border-radius: 40%; 
    font-size: 8px; 
    text-align: center; 
    border: 0.5px solid grey;
} 

.cost {
    color: blue;
    font-size: xx-large;
}

.windows-logo {
    height: 1rem;
    width: 1rem;
}

