<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <!-- Font -->
    <link href="https://fonts.googleapis.com/css2?family=Quicksand:wght@300;400;500;600;700&display=swap"
        rel="stylesheet">
    <link rel="stylesheet" href="css/creator-dashboard.css">

    <link rel="stylesheet" href="css/bootstrap.min.css" />
    <script src="https://cdn.jsdelivr.net/npm/js-cookie@2/src/js.cookie.min.js" defer></script>
    <script src="https://code.jquery.com/jquery-3.2.1.slim.min.js"
        integrity="sha384-KJ3o2DKtIkvYIK3UENzmM7KCkRr/rE9/Qpg6aAZGJwFDMVNA/GpGFF93hXpG5KkN"
        crossorigin="anonymous"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.12.9/umd/popper.min.js"
        integrity="sha384-ApNbgh9B+Y1QKtv3Rn7W3mgPxhU9K/ScQsAP7hUibX39j7fakFPskvXusvfa0b4Q"
        crossorigin="anonymous"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/js/bootstrap.min.js"
        integrity="sha384-JZR6Spejh4U02d8jOt6vLEHfe/JQGiRRSQQxSfFWpi1MquVdAyjUar5+76PVCmYl"
        crossorigin="anonymous"></script>
    <title>Kleva </title>
</head>

<body>
    <!-- Dashboard Container -->
    <div class="">
        <!-- Navigation Bar -->
        <header class="header">
            <!-- Logo -->
            <img src="img/logo.png" alt="Kleva" class="logo">
            <!-- Search Bar -->
            <form action="/" class="search" method="POST">
                <input type="text" class="search__input" placeholder="Search Games">
                <button class="search__button">
                    <svg class="search__icon">
                        <use xlink:href="img/symbol-defs.svg#icon-search"></use>
                    </svg>
                </button>
            </form>

            <!-- Mobile Menu  -->
            <div class="mobile-navigation">
                <input type="checkbox" class="mobile-navigation__checkbox" id="menu_burger">

                <label for="menu_burger" class="mobile-navigation__button">
                    <svg class="mobile-navigation__button-icon">
                        <use xlink:href="img/symbol-defs.svg#icon-menu"></use>
                    </svg>
                </label>

                <div class="mobile-navigation__background"></div>

                <nav class="mobile-navigation__nav">
                    <ul class="mobile-navigation__list">
                        <li class="mobile-navigation__item">
                            <a href="" class="mobile-navigation__link">Home</a>
                        </li>
                        <li class="mobile-navigation__item">
                            <a href="" class="mobile-navigation__link">Log Out</a>
                        </li>
                        <li class="mobile-navigation__item">
                            <a href="" class="mobile-navigation__link">Games</a>
                        </li>
                        <li class="mobile-navigation__item">
                            <a href="" class="mobile-navigation__link">Help</a>
                        </li>
                    </ul>
                </nav>
            </div>

            <!-- Desktop and Tablet Menu -->
            <nav class="user-nav">
                <div class="user-nav__icon-box">
                    <a href="/">
                        <svg class="user-nav__icon">
                            <use xlink:href="img/symbol-defs.svg#icon-home"></use>
                        </svg>
                    </a>
                </div>
                <div class="user-nav__icon-box">
                    <form action="/sign-out" method="POST">
                        <button type="submit" style="border: none; background-color: transparent; ">
                            <svg class="user-nav__icon">
                                <use xlink:href="img/symbol-defs.svg#icon-exit"></use>
                            </svg>
                        </button>
                    </form>
                </div>
                <div class="user-nav__user">
                    <img src="img/profile.png" alt="User Photo" class="user-nav__user-photo">
                    <span class="user-name">Bobby</span>
                </div>
            </nav>
        </header>


        <div class="content">
            <!-- Dashboard Side Bar -->
            <nav class="side-bar">
                <!-- Dashboard Pages -->
                <ul class="side-nav">
                    <!-- Active Styling with Plain JS Logic -->
                    <li class="<%= path === '/teacher-dashboard' ? 'side-nav__item--active' : 'side-nav__item' %> ">
                        <a href="/teacher-dashboard" class="side-nav__link">
                            <!-- Sidebar Icon -->
                            <svg class="side-nav__icon">
                                <use xlink:href="img/symbol-defs.svg#icon-box-remove"></use>
                            </svg>
                            <span class="sideBarCustom">Classroom</span>
                        </a>
                    </li>
                    <li class="<%= path === '/teacher-students' ? 'side-nav__item--active' : 'side-nav__item' %> ">
                        <a href="/" class="side-nav__link">
                            <svg class="side-nav__icon">
                                <use xlink:href="img/symbol-defs.svg#icon-user-check"></use>
                            </svg>
                            <span class="sideBarCustom">Statistics</span>
                        </a>
                    </li>
                    <li class="<%= path === '/drawing-history' ? 'side-nav__item--active' : 'side-nav__item' %> ">
                        <a href="/" class="side-nav__link">
                            <svg class="side-nav__icon">
                                <use xlink:href="img/symbol-defs.svg#icon-pencil2"></use>
                            </svg>
                            <span class="sideBarCustom">Doodles</span>
                        </a>
                    </li>
                    <li class="<%= path === '/help' ? 'side-nav__item--active' : 'side-nav__item' %> ">
                        <a href="/" class="side-nav__link">
                            <svg class="side-nav__icon">
                                <use xlink:href="img/symbol-defs.svg#icon-lifebuoy"></use>
                            </svg>
                            <span class="sideBarCustom">Help</span>
                        </a>
                    </li>
                </ul>
                <!-- Legal Text -->
                <div class="legal">
                    &copy; 2020 by Kleva Pty. Ltd.
                </div>
            </nav>

            <div class="container-fluid pr-0 pl-0 py-5">
                <div class="px-5 py-5">
                    <div class="ml-5 mr-5 container-lg mx-auto">
                        <div class="row justify-content-center">
                            <div class="col-12">
                                <h1 class="dashboardHeaders">Doodle History</h1>
                            </div>




                        </div>
                    </div>
                </div>

            </div>
        </div>
    </div>
</body>
<script src="https://www.gstatic.com/firebasejs/7.24.0/firebase-app.js"></script>
<script src="https://www.gstatic.com/firebasejs/7.24.0/firebase-database.js"></script>
<script src="/js/accessDrawing.js"></script>

</html>