<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8" />
  <meta name="viewport" content="width=device-width, initial-scale=1.0" />
  <!-- Font -->
  <link href="https://fonts.googleapis.com/css2?family=Quicksand:wght@300;400;500;600;700&display=swap"
    rel="stylesheet" />
  <link rel="stylesheet" href="../css/bootstrap.min.css" />
  <link rel="stylesheet" href="../css/creator-dashboard.css" />
  <script src="https://code.jquery.com/jquery-3.2.1.slim.min.js"
    integrity="sha384-KJ3o2DKtIkvYIK3UENzmM7KCkRr/rE9/Qpg6aAZGJwFDMVNA/GpGFF93hXpG5KkN"
    crossorigin="anonymous"></script>
  <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.12.9/umd/popper.min.js"
    integrity="sha384-ApNbgh9B+Y1QKtv3Rn7W3mgPxhU9K/ScQsAP7hUibX39j7fakFPskvXusvfa0b4Q"
    crossorigin="anonymous"></script>
  <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/js/bootstrap.min.js"
    integrity="sha384-JZR6Spejh4U02d8jOt6vLEHfe/JQGiRRSQQxSfFWpi1MquVdAyjUar5+76PVCmYl"
    crossorigin="anonymous"></script>
  <title>Game Upload</title>
</head>

<body>
  <!-- Dashboard Container -->
  <div class="container-fluid pr-0 pl-0">
    <!-- Navigation Bar -->
    <header class="header">
      <!-- Logo -->
      <img src="../img/logo.png" alt="Kleva" class="logo" />
      <!-- Search Bar -->
      <form action="/" class="search" method="POST">
        <input type="text" class="search__input" placeholder="Search Games" />
        <button class="search__button">
          <svg class="search__icon">
            <use xlink:href="../img/symbol-defs.svg#icon-search"></use>
          </svg>
        </button>
      </form>

      <!-- Mobile Menu  -->
      <div class="mobile-navigation">
        <input type="checkbox" class="mobile-navigation__checkbox" id="menu_burger" />

        <label for="menu_burger" class="mobile-navigation__button">
          <svg class="mobile-navigation__button-icon">
            <use xlink:href="../img/symbol-defs.svg#icon-menu"></use>
          </svg>
        </label>

        <div class="mobile-navigation__background"></div>

        <nav class="mobile-navigation__nav">
          <ul class="mobile-navigation__list">
            <li class="mobile-navigation__item">
              <a href="" class="mobile-navigation__link">Home</a>
            </li>
            <li class="mobile-navigation__item">
              <a href="" class="mobile-navigation__link">Log Out</a>
            </li>
            <li class="mobile-navigation__item">
              <a href="" class="mobile-navigation__link">Games</a>
            </li>
            <li class="mobile-navigation__item">
              <a href="" class="mobile-navigation__link">Help</a>
            </li>
          </ul>
        </nav>
      </div>

      <!-- Desktop and Tablet Menu -->
      <nav class="user-nav">
        <div class="user-nav__icon-box">
          <a href="/">
            <svg class="user-nav__icon">
              <use xlink:href="../img/symbol-defs.svg#icon-home"></use>
            </svg>
          </a>
        </div>
        <div class="user-nav__icon-box">
          <form action="/sign-out" method="POST">
            <button type="submit" class="borderless">
              <svg class="user-nav__icon">
                <use xlink:href="../img/symbol-defs.svg#icon-exit"></use>
              </svg>
            </button>
          </form>
        </div>
        <div class="user-nav__user">
          <img src="../img/profile.png" alt="User Photo" class="user-nav__user-photo" />
          <span class="user-name">Bobby</span>
        </div>
      </nav>
    </header>

    <div class="content">
      <!-- Dashboard Side Bar -->
      <nav class="side-bar">
        <!-- Dashboard Pages -->
        <ul class="side-nav">
          <!-- Active Styling with Plain JS Logic -->
          <li class="<%= path === '/creator-dashboard' ? 'side-nav__item--active' : 'side-nav__item' %>">
            <a href="/creator-dashboard" class="side-nav__link">
              <!-- Sidebar Icon -->
              <svg class="side-nav__icon">
                <use xlink:href="../img/symbol-defs.svg#icon-box-remove"></use>
              </svg>
              <span>Upload</span>
            </a>
          </li>
          <li class="<%= path === '/under-review' ? 'side-nav__item--active' : 'side-nav__item' %>">
            <a href="/" class="side-nav__link">
              <svg class="side-nav__icon">
                <use xlink:href="../img/symbol-defs.svg#icon-user-check"></use>
              </svg>
              <span>Under Review</span>
            </a>
          </li>
          <li class="<%= path === '/help' ? 'side-nav__item--active' : 'side-nav__item' %>">
            <a href="/" class="side-nav__link">
              <svg class="side-nav__icon">
                <use xlink:href="../img/symbol-defs.svg#icon-lifebuoy"></use>
              </svg>
              <span>Help</span>
            </a>
          </li>
        </ul>
        <!-- Legal Text -->
        <div class="legal">&copy; 2020 by Kleva Pty. Ltd.</div>
      </nav>

      <div class="container-fluid pr-0 pl-0">
        <div class="px-5 py-5">
          <div class="ml-5 mr-5 container-md mx-auto">
            <form id="game-upload-form" action="./game-upload" method="POST" enctype="multipart/form-data">
              <!-- Game Title and Description -->
              <div class="card mt-5 px-5 py-5 shadow rounded">
                <div class="row">
                  <!-- Game Title -->
                  <div class="form-group col-12">
                    <label class="game-upload-form__title" for="title">Game Title</label>
                    <input type="text" class="game-upload-form__placeholder-text form-control" id="title" name="title"
                      placeholder="Example: Bridge Builder" />
                  </div>
                  <!-- Game Description -->
                  <div class="form-group col-12">
                    <label for="exampleFormControlTextarea1">Description
                    </label>
                    <textarea class="form-control" id="description" rows="5" name="description"
                      placeholder="Describe your game in 90 words. &#10;Use keyword nouns to help our AI match your game with the Australian Curriculum. &#10;Example: Solve architecture and civil engineering problems as you build bridges."
                      style="font-size: 1.9rem;"></textarea>
                  </div>
                </div>
              </div>




              <!-- Game Title and Description -->
              <div class="card mt-5 px-5 py-5 shadow rounded">
                <div class="row">
                  <!-- Game File -->
                  <label class="game-upload-form__title" for="gameFile">Upload Your Game</label>
                  <div class="custom-file col-12 game-upload-form__placeholder-text">
                    <input type="file" class="custom-file-input" id="gameFile" name="gameFile"
                      aria-describedby="gameFile" />
                    <label class="custom-file-label" for="gameFile">File Size Limit: 1GB</label>
                  </div>

                  <!-- Game Images -->
                  <label class="game-upload-form__title" for="gameImage">Upload Your Game Hero Images</label>
                  <div class="col-12 game-upload-form__placeholder-text">
                    <input type="file" class="custom-file-input" id="gameImage" name="gameImage"
                      aria-describedby="gameImage" multiple="multiple" />
                    <label class="custom-file-label" for="gameImage">Minimum 256 x 256px</label>
                  </div>
                </div>
              </div>

              <!-- ACARA Subjects -->
              <div class="card mt-5 px-5 py-5 shadow rounded">
                <div class="row">
                  <div class="col-12 mb-4">
                    <h1>Category</h1>
                  </div>
                  <!-- Maths -->
                  <div class="col-6 col-lg-2">
                    <div class="card borderless">
                      <div class="card-img text-center">
                        <button class="borderless" onclick="selectSubStrands()" value="maths" type="button">
                          <img src='https://storage.googleapis.com/kleva_assets/mathematics.png'
                            class='img-fluid' /></button>
                      </div>
                      <div class="card-footer text-center game-upload-cat__title">
                        <h3>Maths</h3>
                      </div>
                    </div>
                  </div>
                  <!-- Science -->
                  <div class="col-6 col-lg-2">
                    <div class="card borderless">
                      <div class="card-img text-center">
                        <button class="borderless" onclick="selectSubStrands()" value="science" type="button">
                          <img src='https://storage.googleapis.com/kleva_assets/science.png'
                            class='img-fluid' /></button>
                      </div>
                      <div class="card-footer text-center game-upload-cat__title">
                        <h3>Science</h3>
                      </div>
                    </div>
                  </div>
                  <!-- English -->
                  <div class="col-6 col-lg-2">
                    <div class="card borderless">
                      <div class="card-img text-center">
                        <button class="borderless" onclick="selectSubStrands()" value="english" type="button">
                          <img src='https://storage.googleapis.com/kleva_assets/english.png'
                            class='img-fluid' /></button>
                      </div>
                      <div class="card-footer text-center game-upload-cat__title">
                        <h3>English</h3>
                      </div>
                    </div>
                  </div>
                  <!-- Technologies -->
                  <div class="col-6 col-lg-2">
                    <div class="card borderless">
                      <div class="card-img text-center">
                        <button class="borderless" onclick="selectSubStrands()" value="digital technologies"
                          type="button">
                          <img src='https://storage.googleapis.com/kleva_assets/technologies.png'
                            class='img-fluid' /></button>
                      </div>
                      <div class="card-footer text-center game-upload-cat__title">
                        <h3>Technology</h3>
                      </div>
                    </div>
                  </div>
                  <!-- Arts -->
                  <div class="col-6 col-lg-2">
                    <div class="card borderless">
                      <div class="card-img text-center">
                        <button class="borderless" onclick="selectSubStrands()" value="arts" type="button">
                          <img src='https://storage.googleapis.com/kleva_assets/theArts.png'
                            class='img-fluid' /></button>
                      </div>
                      <div class="card-footer text-center game-upload-cat__titles">
                        <h3>Arts</h3>
                      </div>
                    </div>
                  </div>
                  <!-- Humanities -->
                  <div class="col-6 col-lg-2">
                    <div class="card borderless">
                      <div class="card-img text-center">
                        <button class="borderless" onclick="selectSubStrands()" value="hass" type="button">
                          <img src='https://storage.googleapis.com/kleva_assets/humanitiessocialSciences.png'
                            class='img-fluid' /></button>
                      </div>
                      <div class="card-footer text-center game-upload-cat__titles">
                        <h3>Humanities</h3>
                      </div>
                    </div>
                  </div>

                </div>
              </div>

              <!-- ACARA Substrands -->
              <div class="card mt-5 px-5 py-5 shadow rounded">
                <div class="row">
                  <div class="col-12 mb-4">
                    <h1>Sub-Categories</h1>
                  </div>
                  <div class="form-group col-12 mb-4 pl-5" id="subcat">


                  </div>
                </div>
              </div>

              <!-- Submit Button -->
              <div class="card mt-5 px-5 py-5 shadow rounded">
                <div class="row">
                  <!-- Upload -->
                  <div class="col align-self-end"></div>
                  <button type="submit" class="btn btn-success btn-block py-5 mx-3"
                    style="font-size: 4rem; border-radius: 2rem;">
                    Upload
                  </button>
                </div>
              </div>
            </form>
          </div>
        </div>
      </div>
    </div>
  </div>
</body>
<script>
  $("button").click(function selectSubStrands() {
    var fired_button = $(this).val();
    if (fired_button === 'maths') {
      return document.getElementById('subcat').innerHTML = '<h1>Maths</h1> \
      <input type=\"hidden\" name=\"category\" id=\"category\" value=\"maths\">\
      <div class=\"checkbox-inline\">\
        <input class=\"form-check-input\" type=\"checkbox\" name=\"subCategories\" id=\"inlineCheckbox1\" value=\"Number and place value\">\
          <label class=\"form-check-label\" for=\"inlineCheckbox1\">Number and place value</label>\
      </div>\
      <div class=\"checkbox-inline\">\
        <input class=\"form-check-input\" type=\"checkbox\" name=\"subCategories\" id=\"inlineCheckbox2\" value=\"Real numbers\">\
          <label class=\"form-check-label\" for=\"inlineCheckbox2\">Real numbers</label>\
      </div>\
      <div class=\"checkbox-inline\">\
        <input class=\"form-check-input\" type=\"checkbox\" name=\"subCategories\" id=\"inlineCheckbox3\" value=\"Money and financial mathematics\">\
          <label class=\"form-check-label\" for=\"inlineCheckbox3\">Money and financial mathematics</label>\
      </div>\
      <div class=\"checkbox-inline\">\
        <input class=\"form-check-input\" type=\"checkbox\" name=\"subCategories\" id=\"inlineCheckbox4\" value=\"Patterns and algebra\">\
          <label class=\"form-check-label\" for=\"inlineCheckbox4\">Patterns and algebra</label>\
      </div>\
      <div class=\"checkbox-inline\">\
        <input class=\"form-check-input\" type=\"checkbox\" name=\"subCategories\" id=\"inlineCheckbox5\" value=\"Using units of measurement\">\
          <label class=\"form-check-label\" for=\"inlineCheckbox5\">Using units of measurement</label>\
      </div>\
      <div class=\"checkbox-inline\">\
        <input class=\"form-check-input\" type=\"checkbox\" name=\"subCategories\" id=\"inlineCheckbox6\" value=\"Chance\">\
          <label class=\"form-check-label\" for=\"inlineCheckbox6\">Chance</label>\
      </div>\
      <div class=\"checkbox-inline\">\
        <input class=\"form-check-input\" type=\"checkbox\" name=\"subCategories\" id=\"inlineCheckbox7\" value=\"Data representation and interpretation\">\
          <label class=\"form-check-label\" for=\"inlineCheckbox7\">Data representation and interpretation</label>\
      </div>\
      <div class=\"checkbox-inline\">\
        <input class=\"form-check-input\" type=\"checkbox\" name=\"subCategories\" id=\"inlineCheckbox8\" value=\"Geometric reasoning\">\
          <label class=\"form-check-label\" for=\"inlineCheckbox8\">Geometric reasoning</label>\
      </div>'
    } else if (fired_button === 'science') {
      return document.getElementById('subcat').innerHTML = '<h1>Science</h1>\
      <input type=\"hidden\" name=\"category\" id=\"category\" value=\"science\">\
      <div class=\"checkbox-inline\">\
        <input class=\"form-check-input\" type=\"checkbox\" name=\"subCategories\" id=\"inlineCheckbox1\" value=\"Biological sciences\">\
          <label class=\"form-check-label\" for=\"inlineCheckbox1\">Biological sciences</label>\
      </div>\
      <div class=\"checkbox-inline\">\
        <input class=\"form-check-input\" type=\"checkbox\" name=\"subCategories\" id=\"inlineCheckbox2\" value=\"Earth and space sciences\">\
          <label class=\"form-check-label\" for=\"inlineCheckbox2\">Earth and space sciences</label>\
      </div>\
      <div class=\"checkbox-inline\">\
        <input class=\"form-check-input\" type=\"checkbox\" name=\"subCategories\" id=\"inlineCheckbox3\" value=\"Chemical sciences\">\
          <label class=\"form-check-label\" for=\"inlineCheckbox3\">Chemical sciences</label>\
      </div>\
      <div class=\"checkbox-inline\">\
        <input class=\"form-check-input\" type=\"checkbox\" name=\"subCategories\" id=\"inlineCheckbox4\" value=\"Physical sciences\">\
          <label class=\"form-check-label\" for=\"inlineCheckbox4\">Physical sciences</label>\
      </div>\
      <div class=\"checkbox-inline\">\
        <input class=\"form-check-input\" type=\"checkbox\" name=\"subCategories\" id=\"inlineCheckbox5\" value=\"Nature and development  of science\">\
          <label class=\"form-check-label\" for=\"inlineCheckbox5\">Nature and development  of science</label>\
      </div>\
      <div class=\"checkbox-inline\">\
        <input class=\"form-check-input\" type=\"checkbox\" name=\"subCategories\" id=\"inlineCheckbox6\" value=\"Use and influence of science\">\
          <label class=\"form-check-label\" for=\"inlineCheckbox6\">Use and influence of science</label>\
      </div>\
      <div class=\"checkbox-inline\">\
        <input class=\"form-check-input\" type=\"checkbox\" name=\"subCategories\" id=\"inlineCheckbox7\" value=\"Questioning and predicting\">\
          <label class=\"form-check-label\" for=\"inlineCheckbox7\">Questioning and predicting</label>\
      </div>\
      <div class=\"checkbox-inline\">\
        <input class=\"form-check-input\" type=\"checkbox\" name=\"subCategories\" id=\"inlineCheckbox8\" value=\"Planning and conducting\">\
          <label class=\"form-check-label\" for=\"inlineCheckbox8\">Planning and conducting</label>\
      </div>\
      <div class=\"checkbox-inline\">\
        <input class=\"form-check-input\" type=\"checkbox\" name=\"subCategories\" id=\"inlineCheckbox9\" value=\"Processing and analysing data and information\">\
          <label class=\"form-check-label\" for=\"inlineCheckbox9\">Processing and analysing data and information</label>\
      </div>\
      <div class=\"checkbox-inline\">\
        <input class=\"form-check-input\" type=\"checkbox\" name=\"subCategories\" id=\"inlineCheckbox10\" value=\"Evaluating\">\
          <label class=\"form-check-label\" for=\"inlineCheckbox10\">Evaluating</label>\
      </div>\
      <div class=\"checkbox-inline\">\
        <input class=\"form-check-input\" type=\"checkbox\" name=\"subCategories\" id=\"inlineCheckbox11\" value=\"Communicating\">\
          <label class=\"form-check-label\" for=\"inlineCheckbox11\">Communicating</label>\
      </div>'
    } else if (fired_button === 'english') {
      return document.getElementById('subcat').innerHTML = '<h1>English</h1>\
      <input type=\"hidden\" name=\"category\" id=\"category\" value=\"english\">\
      <div class=\"checkbox-inline\">\
        <input class=\"form-check-input\" type=\"checkbox\" name=\"subCategories\" id=\"inlineCheckbox1\" value=\"Text structure and organisation\">\
          <label class=\"form-check-label\" for=\"inlineCheckbox1\">Text structure and organisation</label>\
      </div>\
      <div class=\"checkbox-inline\">\
        <input class=\"form-check-input\" type=\"checkbox\" name=\"subCategories\" id=\"inlineCheckbox2\" value=\"Language variation and change\">\
          <label class=\"form-check-label\" for=\"inlineCheckbox2\">Language variation and change</label>\
      </div>\
      <div class=\"checkbox-inline\">\
        <input class=\"form-check-input\" type=\"checkbox\" name=\"subCategories\" id=\"inlineCheckbox3\" value=\"Language for interaction\">\
          <label class=\"form-check-label\" for=\"inlineCheckbox3\">Language for interaction</label>\
      </div>\
      <div class=\"checkbox-inline\">\
        <input class=\"form-check-input\" type=\"checkbox\" name=\"subCategories\" id=\"inlineCheckbox4\" value=\"Expressing and developing ideas\">\
          <label class=\"form-check-label\" for=\"inlineCheckbox4\">Expressing and developing ideas</label>\
      </div>\
      <div class=\"checkbox-inline\">\
        <input class=\"form-check-input\" type=\"checkbox\" name=\"subCategories\" id=\"inlineCheckbox5\" value=\"Literature and context\">\
          <label class=\"form-check-label\" for=\"inlineCheckbox5\">Literature and context</label>\
      </div>\
      <div class=\"checkbox-inline\">\
        <input class=\"form-check-input\" type=\"checkbox\" name=\"subCategories\" id=\"inlineCheckbox6\" value=\"Responding to literature\">\
          <label class=\"form-check-label\" for=\"inlineCheckbox6\">Responding to literature</label>\
      </div>\
      <div class=\"checkbox-inline\">\
        <input class=\"form-check-input\" type=\"checkbox\" name=\"subCategories\" id=\"inlineCheckbox7\" value=\"Examining literature\">\
          <label class=\"form-check-label\" for=\"inlineCheckbox7\">Examining literature</label>\
      </div>\
      <div class=\"checkbox-inline\">\
        <input class=\"form-check-input\" type=\"checkbox\" name=\"subCategories\" id=\"inlineCheckbox8\" value=\"Creating literature\">\
          <label class=\"form-check-label\" for=\"inlineCheckbox8\">Creating literature</label>\
      </div>\
      <div class=\"checkbox-inline\">\
        <input class=\"form-check-input\" type=\"checkbox\" name=\"subCategories\" id=\"inlineCheckbox9\" value=\"Texts in context\">\
          <label class=\"form-check-label\" for=\"inlineCheckbox9\">Texts in context</label>\
      </div>\
      <div class=\"checkbox-inline\">\
        <input class=\"form-check-input\" type=\"checkbox\" name=\"subCategories\" id=\"inlineCheckbox10\" value=\"Interacting with others\">\
          <label class=\"form-check-label\" for=\"inlineCheckbox10\">Interacting with others</label>\
      </div>\
      <div class=\"checkbox-inline\">\
        <input class=\"form-check-input\" type=\"checkbox\" name=\"subCategories\" id=\"inlineCheckbox11\" value=\"Interpreting, analysing, evaluating\">\
          <label class=\"form-check-label\" for=\"inlineCheckbox11\">Interpreting, analysing, evaluating</label>\
      </div>'
    } else if (fired_button === 'digital technologies') {
      return document.getElementById('subcat').innerHTML = '<h1>Digital Technologies</h1>\
      <input type=\"hidden\" name=\"category\" id=\"category\" value=\"digitalTechnology\">\
      <div class=\"checkbox-inline\">\
        <input class=\"form-check-input\" type=\"checkbox\" name=\"subCategories\" id=\"inlineCheckbox1\" value=\"Design and Technologies Knowledge and Understanding\">\
          <label class=\"form-check-label\" for=\"inlineCheckbox1\">Design and Technologies Knowledge and Understanding</label>\
      </div>\
      <div class=\"checkbox-inline\">\
        <input class=\"form-check-input\" type=\"checkbox\" name=\"subCategories\" id=\"inlineCheckbox2\" value=\"Design and Technologies Processes and Production Skills\">\
          <label class=\"form-check-label\" for=\"inlineCheckbox2\">Design and Technologies Processes and Production Skills</label>\
      </div>\
      <div class=\"checkbox-inline\">\
        <input class=\"form-check-input\" type=\"checkbox\" name=\"subCategories\" id=\"inlineCheckbox3\" value=\"Digital Technologies Knowledge and Understanding\">\
          <label class=\"form-check-label\" for=\"inlineCheckbox3\">Digital Technologies Knowledge and Understanding</label>\
      </div>\
      <div class=\"checkbox-inline\">\
        <input class=\"form-check-input\" type=\"checkbox\" name=\"subCategories\" id=\"inlineCheckbox4\" value=\"Digital Technologies Processes and Production Skills\">\
          <label class=\"form-check-label\" for=\"inlineCheckbox4\">Digital Technologies Processes and Production Skills</label>\
      </div>'
    } else if (fired_button === 'arts') {
      return document.getElementById('subcat').innerHTML = '<h1>Arts</h1>\
      <input type=\"hidden\" name=\"category\" id=\"category\" value=\"arts\">\
      <div class=\"checkbox-inline\">\
        <input class=\"form-check-input\" type=\"checkbox\" name=\"subCategories\" id=\"inlineCheckbox1\" value=\"Dance\">\
          <label class=\"form-check-label\" for=\"inlineCheckbox1\">Dance</label>\
      </div>\
      <div class=\"checkbox-inline\">\
        <input class=\"form-check-input\" type=\"checkbox\" name=\"subCategories\" id=\"inlineCheckbox2\" value=\"Drama\">\
          <label class=\"form-check-label\" for=\"inlineCheckbox2\">Drama</label>\
      </div>\
      <div class=\"checkbox-inline\">\
        <input class=\"form-check-input\" type=\"checkbox\" name=\"subCategories\" id=\"inlineCheckbox3\" value=\"Media Artworks\">\
          <label class=\"form-check-label\" for=\"inlineCheckbox3\">Media Artworks</label>\
      </div>\
      <div class=\"checkbox-inline\">\
        <input class=\"form-check-input\" type=\"checkbox\" name=\"subCategories\" id=\"inlineCheckbox4\" value=\"Music\">\
          <label class=\"form-check-label\" for=\"inlineCheckbox4\">Music</label>\
      </div>'
    } else if (fired_button === 'hass') {
      return document.getElementById('subcat').innerHTML = '<h1>Humanities</h1>\
      <input type=\"hidden\" name=\"category\" id=\"category\" value=\"hass\">\
      <div class=\"checkbox-inline\">\
        <input class=\"form-check-input\" type=\"checkbox\" name=\"subCategories\" id=\"inlineCheckbox1\" value=\"History\">\
          <label class=\"form-check-label\" for=\"inlineCheckbox1\">History</label>\
      </div>\
      <div class=\"checkbox-inline\">\
        <input class=\"form-check-input\" type=\"checkbox\" name=\"subCategories\" id=\"inlineCheckbox2\" value=\"Geography\">\
          <label class=\"form-check-label\" for=\"inlineCheckbox2\">Geography</label>\
      </div>\
      <div class=\"checkbox-inline\">\
        <input class=\"form-check-input\" type=\"checkbox\" name=\"subCategories\" id=\"inlineCheckbox3\" value=\"Civics and Citizenship\">\
          <label class=\"form-check-label\" for=\"inlineCheckbox3\">Civics and Citizenship</label>\
      </div>\
      <div class=\"checkbox-inline\">\
        <input class=\"form-check-input\" type=\"checkbox\" name=\"subCategories\" id=\"inlineCheckbox4\" value=\"Economics and Business\">\
          <label class=\"form-check-label\" for=\"inlineCheckbox4\">Economics and Business</label>\
      </div>'
    }
  });
</script>

</html>