<!-- Begin Page Content -->
<div class="container-fluid pr-0 pl-0" style="height: 96vh;">
    <div class="ml-5 mr-5">
    <!-- Page Heading -->
    <div class="d-sm-flex align-items-center justify-content-between mb-4 mt-5">
        <h1 class="h3 mb-0 text-gray-800">Game Upload</h1>
        <a href="#" class="d-none d-sm-inline-block btn btn-sm btn-primary shadow-sm"><i class="fas fa-download fa-sm text-white-50"></i> Generate Report</a>
    </div>

    <!-- Content Row -->
    <div class="row">
        <main class="upload">
            <!-- Game Upload Form -->
            <div class="upload-form">
                <form action="/uploadGames" class="upload-form__text" method="POST">
                    <!-- Game Title -->
                    <label class="upload-form__title" for="title">Game Title</label>
                    <input class="upload-form__title-field" type="text" id="title" name="title" placeholder="Your Game Title"><br>

                    <!-- School Curriculum and Game Category -->
                    <div class="upload-form__checklist">

                        <span class="upload-form__checklist-title">Education Category</span><br>
                        <div class="upload-form__checklist-topics">
                            <input type="checkbox" name="maths" value="Maths">
                            <label for="maths"> Maths</label><br>

                            <input type="checkbox" name="Physics" value="Physics">
                            <label for="Physics"> Physics</label><br>
                        </div>
                        <div class="upload-form__checklist-topics">
                            <input type="checkbox" name="History" value="History">
                            <label for="History"> History</label><br>

                            <input type="checkbox" name="Chemistry" value="Chemistry">
                            <label for="Chemistry"> Chemistry</label><br>
                        </div>
                        <div class="upload-form__checklist-topics">
                            <input type="checkbox" name="IT" value="IT">
                            <label for="IT"> IT</label><br>

                            <input type="checkbox" name="Drama" value="Drama">
                            <label for="Drama"> Drama</label><br><br>
                        </div>
                        <div class="upload-form__checklist-topics">
                            <input type="checkbox" name="Art" value="Art">
                            <label for="Art"> Art</label><br>

                            <input type="checkbox" name="Religion" value="Religion">
                            <label for="Religion"> Religion</label><br><br>
                        </div>
                        
                    </div>
                    
                    <!-- Game Text Description -->
                    <label class="upload-form__title" for="description">Game Description</label>
                    <input class="upload-form__title-description"  type="text" id="description" name="description" placeholder="Your Game Description">
                    
                    <!-- Game File Upload -->
                    <div class="upload-form__file">
                        <label class="upload-form__title" for="gamefile">Upload Your Game</label>
                        <input type="file" id="gamefile" name="gamefile">    
                    </div>

                    <!-- Submission Button -->
                    <input class="upload-form__button" type="submit" value="Submit for Review">
                </form>
            </div>
        </main> 
    </div>

    <!-- Content Row -->

    <div class="row">

        <!-- Area Chart -->
        <div class="col-xl-8 col-lg-7">
        <div class="card shadow mb-4">
            <!-- Card Header - Dropdown -->
            <div class="card-header py-3 d-flex flex-row align-items-center justify-content-between">
            <h6 class="m-0 font-weight-bold text-primary">File Upload</h6>
            <div class="dropdown no-arrow">
                <a class="dropdown-toggle" href="#" role="button" id="dropdownMenuLink" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                <i class="fas fa-ellipsis-v fa-sm fa-fw text-gray-400"></i>
                </a>
                <div class="dropdown-menu dropdown-menu-right shadow animated--fade-in" aria-labelledby="dropdownMenuLink">
                <div class="dropdown-header">Dropdown Header:</div>
                <a class="dropdown-item" href="#">Action</a>
                <a class="dropdown-item" href="#">Another action</a>
                <div class="dropdown-divider"></div>
                <a class="dropdown-item" href="#">Something else here</a>
                </div>
            </div>
            </div>
            <!-- Card Body -->
            <div class="card-body">
            <div class="chart-area">
                <canvas id="myAreaChart"></canvas>
            </div>
            </div>
        </div>
        </div>

        <!-- Pie Chart -->
        <div class="col-xl-4 col-lg-5">
        <div class="card shadow mb-4">
            <!-- Card Header - Dropdown -->
            <div class="card-header py-3 d-flex flex-row align-items-center justify-content-between">
            <h6 class="m-0 font-weight-bold text-primary">Game Category</h6>
            <div class="dropdown no-arrow">
                <a class="dropdown-toggle" href="#" role="button" id="dropdownMenuLink" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                <i class="fas fa-ellipsis-v fa-sm fa-fw text-gray-400"></i>
                </a>
                <div class="dropdown-menu dropdown-menu-right shadow animated--fade-in" aria-labelledby="dropdownMenuLink">
                <div class="dropdown-header">Dropdown Header:</div>
                <a class="dropdown-item" href="#">Action</a>
                <a class="dropdown-item" href="#">Another action</a>
                <div class="dropdown-divider"></div>
                <a class="dropdown-item" href="#">Something else here</a>
                </div>
            </div>
            </div>
            <!-- Card Body -->
            <div class="card-body">
            <div class="chart-pie pt-4 pb-2">
                <canvas id="myPieChart"></canvas>
            </div>
            <div class="mt-4 text-center small">
                <span class="mr-2">
                <i class="fas fa-circle text-primary"></i> Direct
                </span>
                <span class="mr-2">
                <i class="fas fa-circle text-success"></i> Social
                </span>
                <span class="mr-2">
                <i class="fas fa-circle text-info"></i> Referral
                </span>
            </div>
            </div>
        </div>
        </div>
    </div>