<div class="modal" tabindex="-1" id="<%- classRoom.classCode %>" style="background-color: rgba(0, 0, 0, 0.226);">
  <div class="modal-dialog modal-dialog-centered">
    <div class="modal-content add_classroom_modal">
      <div class="modal-header">

        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
          <span aria-hidden="true">&times;</span>
        </button>
      </div>
      <div class="modal-body mt-3 px-5">
        <form action="/create-questions" method="POST" id="modalAddClassroom">
          <div class="form-group">
            <input type="hidden" value="<%= classRoom.classCode %>" name="classCode">
            <h1 class="text-center mb-5">Select One Subject</h1>
            <% if(subject === 'english') { %>
            <div class="row justify-content-center text-center subject-font">
              <div class="col-md-4">
                <div class="form-check">
                  <input class="form-check-input" type="radio" name="topic" id="Expressing and developing ideas"
                    value="Expressing and developing ideas">
                  <label class="form-check-label" for="Expressing and developing ideas"><img
                      src="img/healthphysed.png">Expressing
                    and developing ideas</label>
                </div>
              </div>
              <div class="col-md-4">
                <div class="form-check">
                  <input class="form-check-input" type="radio" name="topic" id="Interacting with others"
                    value="Interacting with others">
                  <label class="form-check-label" for="Interacting with others"><img
                      src="img/healthphysed.png">Interacting with
                    others</label>
                </div>
              </div>
              <div class="col-md-4">
                <div class="form-check">
                  <input class="form-check-input" type="radio" name="topic" id="Language for interaction"
                    value="Language for interaction">
                  <label class="form-check-label" for="Language for interaction"><img
                      src="img/healthphysed.png">Language for
                    interaction</label>
                </div>
              </div>
            </div>
            <%} else if (subject === 'mathematics') { %>
            <div class="row subject-font ">
              <div class="col-md-4">
                <div class="form-check">
                  <input class="form-check-input" type="radio" name="topic" id="Patterns and algebra"
                    value="Patterns and algebra">
                  <label class="form-check-label" for="Patterns and algebra"><img src="img/healthphysed.png">Patterns and algebra</label>
                </div>
              </div>
              <div class="col-md-4">
                <div class="form-check">
                  <input class="form-check-input" type="radio" name="topic" id="Geometric reasoning"
                    value="Geometric reasoning">
                  <label class="form-check-label" for="Geometric"><img src="img/healthphysed.png">Geometric reasoning
                  </label>
                      
                </div>
              </div>
              <div class="col-md-4">
                <div class="form-check">
                  <input class="form-check-input" type="radio" name="topic" id="Pythagoras and trigonometry"
                    value="Pythagoras and trigonometry">
                  <label class="form-check-label" for="Pythagoras and trigonometry"><img
                      src="img/healthphysed.png">Pythagoras and trigonometry</label>
                </div>
              </div>
              <div class="col-md-4">
                <div class="form-check">
                  <input class="form-check-input" type="radio" name="topic" id="Shape" value="Shape">
                  <label class="form-check-label form-display" for="Shape"><img src="img/healthphysed.png">Shape</label>
                </div>
              </div>
              
              <div class="col-md-6">
                <div class="form-check">
                  <input class="form-check-input" type="radio" name="topic" id="Location and transformation"
                    value="Location and transformation">
                  <label class="form-check-label" for="Location and transformation"><img
                      src="img/healthphysed.png">Transformation</label>
                </div>
              </div>
              
            </div>
            <%} else { %>
            <div class="row justify-content-center text-center subject-font">
              <div class="col-3">
                <div class="form-check">
                  <input class="form-check-input" type="radio" name="topic" id="biology" value="Biological  sciences">
                  <label class="form-check-label" for="biology"><img src="img/healthphysed.png">Biology</label>
                </div>
              </div>
              <div class="col-3">
                <div class="form-check">
                  <input class="form-check-input" type="radio" name="topic" id="chemistry" value="Chemical sciences">
                  <label class="form-check-label" for="chemistry"><img src="img/science.png">Chemistry</label>
                </div>
              </div>
              <div class="col-3">
                <div class="form-check">
                  <input class="form-check-input" type="radio" name="topic" id="earthSpace"
                    value="Earth and space sciences">
                  <label class="form-check-label" for="earthSpace"><img src="img/mathematics.png">Earth & Space</label>
                </div>
              </div>
              <div class="col-3">
                <div div class="form-check">
                  <input class="form-check-input" type="radio" name="topic" id="physics" value="Physical sciences">
                  <label class="form-check-label" for="physics"><img src="img/science.png">Physics</label>
                </div>
              </div>
            </div>
            <% } %>
            </div>
            <button type="submit" class="btn w-100 my-5 add_classroom_modal_button">Continue to Questions ></button>
          </div>
        </form>
      </div>
    </div>
  </div>

        