<!-- 
Main Navbar
- Users who haven't signed in
-->

<nav class="navbar navbar-expand-lg navbar-light bg-custom py-3 shadow-sm nav">
  <a href="./home"><img src="https://storage.googleapis.com/kleva_assets/logo.png" alt="Kleva"
      class="logo navbar-brand"></a>
  <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent"
    aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
    <span class="navbar-toggler-icon"></span>
  </button>

  <div class="collapse navbar-collapse" id="navbarSupportedContent">
    <ul class="navbar-nav ml-auto ml-2 mt-2 mr-3">

      <% if (sessionType === 'teacher') { %>
      <li class="nav-item active">
        <a class="nav-link" href="/teacher-dashboard">Dashboard<span class="sr-only">(current)</span></a>
      </li>
      <li class="nav-item active">
        <form method="POST" action="/sign-out"><button class="nav-link button" type="submit" style="color: inherit;">Log
            Out<span class="sr-only">(current)</span></button></form>
      </li>
      <% } else if(sessionType === 'student') { %>
      <li class="nav-item active">
        <a class="nav-link" href="/student-dashboard">Dashboard<span class="sr-only">(current)</span></a>
      </li>
      <li class="nav-item active">
        <form method="POST" action="/sign-out"><button class="nav-link button" type="submit" style="color: inherit;">Log
            Out<span class="sr-only">(current)</span></button></form>
      </li>
      <% } else if(sessionType === 'creator'){ %>
      <li class="nav-item active">
        <a class="nav-link" href="/creator-dashboard">Dashboard<span class="sr-only">(current)</span></a>
      </li>
      <li class="nav-item active">
        <form method="POST" action="/sign-out"><button class="nav-link button" type="submit" style="color: inherit;">Log
            Out<span class="sr-only">(current)</span></button></form>
      </li>
      <% } else { %>
      <li class=" nav-item dropdown mr-3">
        <a class="klevabtn px-3 nav-link dropdown-toggle shadow-sm rounded" href="#" id="navbarDropdownMenuLink"
          role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
          Log In As
        </a>
        <div class="dropdown-menu" aria-labelledby="navbarDropdownMenuLink">
          <a class="dropdown-item" href="/teacher-signin">Teacher</a>
          <a class="dropdown-item" href="/student-signin">Student</a>
          <a class="dropdown-item" href="/creator-signin">Game Creator</a>
        </div>
      </li>
      <% } %>
      <li class="nav-item active">
        <a class="nav-link" href="./gamesgallery/?page=1">Games Gallery<span class="sr-only">(current)</span></a>
      </li>
      <li class="nav-item active">
        <a class="nav-link" href="./about">About<span class="sr-only">(current)</span></a>
      </li>



      <!-- Other Types of Navbar Elements
      <li class="nav-item">
        <a class="nav-link" href="#">Link</a>
      </li>
      <li class="nav-item dropdown">
        <a class="nav-link dropdown-toggle" href="#" id="navbarDropdown" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
          Dropdown
        </a>
        <div class="dropdown-menu" aria-labelledby="navbarDropdown">
          <a class="dropdown-item" href="#">Action</a>
          <a class="dropdown-item" href="#">Another action</a>
          <div class="dropdown-divider"></div>
          <a class="dropdown-item" href="#">Something else here</a>
        </div>
      </li>
      <li class="nav-item">
        <a class="nav-link disabled" href="#" tabindex="-1" aria-disabled="true">Disabled</a>
      </li>  -->
    </ul>
  </div>
</nav>